html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: white;

}

header{
    height: 100px;

}

.container__header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo img{
    width:6rem;
}

.menu nav ul{
    display: flex;
    align-items: right;
}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;
    
}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000;
    transition: opacity 300ms;
}

.menu nav ul li a:hover{
opacity: 0.6;

}

.btn_header_register{
    padding: 14px 50px;
    border: none;
    background:rgb(119, 44, 135);
    color:white;
    font-weight: 500;
    font-size:16px;
    cursor: pointer;
    transition: background, color, 300ms;
    text-decoration: none;
}

.btn_header_register:hover{
    background-color: rgb(140, 57, 158);

}

#icon_menu{
    display:none;
}

/* portada y cover */

main{
    max-width: 1200px;
    height: calc(100vh+ 8000px);
    padding: 40px;
    margin: auto;

}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    background-color:rgb(210, 124, 230);
    padding: 30px;
    border-radius: 10px;
}

.text_cover{
    width: 40%;
}

.text_cover h1{
    font-size: 50px;
    color: white;
}

.text_cover p{
    font-size: 18px;
    margin-top: 40px;
    color: white;
}

.buttons_cover{
    display: flex;
    margin-top:40px ;

}

.btn_cover_register{
    padding: 14px 40px;
    border: none;
    background-color: rgb(119, 44, 135);
    color: white;
    font-weight: 500;
    font-size:16px;
    cursor: pointer;
    transition: background, color, 300ms;
}
.btn_cover_register:hover{
    background-color: rgb(140, 57, 158);
}

.btn_cover_readMore{
    padding: 14px 40px;
    border: none;
    background-color: rgb(119, 44, 135);
    color: white;
    font-weight: 500;
    font-size:16px;
    cursor: pointer;
    margin-left: 16px;
    transition: background, color, 300ms;
}
.btn_cover_readMore:hover{
    background-color: rgb(140, 57, 158);
}


.media__cover{
    width:60%;
}

.media__cover img{
    width:100%;
}

/* banner */

.container__banner{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background-color:rgb(174, 73, 197);
    position: relative;
}

.banner__icon-confetti{
    width: 35%;
    height: 100%;
}

#icon_confetti{
    width: 300px;
    margin-top: 20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner_text{
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner_text h2{
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.banner_text a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size:16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner_text a:hover{
    color: #69F1A1;
}

.banner__icon-bola{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_bola{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.8;
}

/* planes */

.planes{
    width: 90%;
    max-width: width 90px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#foto{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tabla{
    width:33%;
    height: 550px;
    margin: auto;
    border:1px solid pink;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: white;
    background-color: rgb(210, 124, 230);;
}

.tabla>h2{
    font-size: 30px;
}

.tabla>h3{
    font-size: 20px;
    margin-bottom: 15px;
}

.tabla>p{
    display: block;
    margin-bottom: 15px;
}

.reserv{
    display:inline-block;
    width:150px;
    padding: 12px;
    background-color: rgb(119, 44, 135);
    text-decoration: none;
    border-radius: 100px;
    color: white;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    transition:color 300ms;
    cursor: pointer;
}

.reserv:hover{
    background-color:rgb(147, 66, 165);
    transform: scale(1.1);
    transition: 300ms all;
}

.tabla:hover{
    /* background-color:rgb(147, 66, 165); */
    transform: scale(1.1);
    transition: 300ms all;
}

/* <!-- FORMULARIO --> */

.form{
    display: flex;
    background-color:rgb(207, 207, 207);
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    flex-direction: column;
}



.form-class{
    display: flex;
    background-color:rgb(207, 207, 207);
    padding: 20px;
    width: 100%;
    margin-top: 1rem;
}

.container{
    display: flex;
    background-color:rgb(207, 207, 207);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    flex-direction: column;
}

.titulo{
    color: black;
    text-align: center;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-bottom: 0;
    background-color:rgb(207, 207, 207);
}
.titulo h2{
    font-size:2rem;
    margin-bottom: 0.5rem;
}

.formulario{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: rgb(207, 207, 207);
    margin-bottom: 1rem;
}

.formulario input {
    width: 100%;
    height: 100%;
    background: none;
    color: black;
    padding-top: 20px;
    border:none;
    outline: 0px;
    margin-top: 10px;
}

.formulario .lbl-nombre{
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;

}

.formulario .lbl-nombre:after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(212, 95, 240);
    transform: translateX(-100%);
    transition: all 0.3s ease;

}

.text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: black;
}

.formulario input:focus + .lbl-nombre .text-nomb,.formulario input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
    font-size:14px;
    color:rgb(212, 95, 240);
}

.formulario input:focus + .lbl-nombre::after,.formulario input:valid + .lbl-nombre::after{
    transform: translateX(0%);
}

.btn_enviar_formulario{
    padding: 14px 50px;
    border: none;
    background:rgb(119, 44, 135);
    color:white;
    font-weight: 500;
    font-size:16px;
    cursor: pointer;
    transition: background, color, 300ms;
}

.btn_enviar_formulario:hover{
    background-color: rgb(140, 57, 158);
}

.parrafo{
    width: 50%;
    color: black;
}

.parrafo h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 2rem;
}

footer{
    margin-top: 1.5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    flex-direction: column;
    background-color: rgb(228, 227, 227);
}

.logo-footer img{
    width:6rem;
    align-items: left;
    width: 25%;
}

.info{
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    margin-top: 1rem;
}

.info-local{
    width: 25%;
    color: gray;
    font-size: 1rem
}
.info-local a:hover{
    color: black;
}
.info-local a{
    text-decoration: none;
    color: gray;
    margin: 0.5rem;
}
.info-local p{
    margin: 0.5rem;
}
.info-local p:hover{
    color:black;
}


.contacto-footer{
    background-color:rgb(119, 44, 135);
    color: white;
    text-align: center;
    padding: 0.4rem;
    flex-direction: column;
}
.contacto-footer a{
    text-decoration: none;
    color: white;
    flex-direction: column;
}
.redes{
    text-align: center;
}

@media (max-width:1100px){
    .container__header, main{
        padding: 20px;
    }

    #icon_menu{
        display:block;
        cursor: pointer;
        font-size: 24px;
    }

    .text_cover{
        width: 100%;
    }

    .btn_cover_register, .btn_cover_readMore{
        width: 50%;
        text-align: center;
        align-items: center;
        font-size: 12px;
    }

    .media__cover{
        display: none;
    } 
    
    .header__register{
        display: none;
    }

    .menu{
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30x -20px rgba(0,0,0,0.5);
        transition: all 300ms;
        height: 0px;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        color: white;
        background-color: rgb(174, 73, 197);
    }
    .menu nav ul li{
        padding: 10px 40px;
        color: white;
    }

    .menu nav ul li a{
        color: white;
    }

    .mostrar_menu{
        /* js */
        height: 235px;
    }

    .text_cover h1{
        font-size: 40px;
    }

    .text_cover p{
        font-size: 16px;
    }

    .banner_text h2{
        font-size: 22px;
    }

    #icon_confetti{
        left: -10px;
    }

    .banner__icon-bola{
        right: -20px;
    }

    

}

@media (max-width:920px){
    .text_cover{
        width: 100%;
    }
    .btn_cover_register, .btn_cover_readMore{
        width: 50%;
        text-align: center;
        align-items: center;
        font-size: 12px;
    }

    .media__cover{
        display: none;
    }

    .banner{
        height: auto;
        flex-wrap: wrap;
    }

    #icon_bola{
        display: none;
    }

    #icon_confetti{
        left: 0;
    }

    .banner_text{
        width: 100%;
        margin-top: -50px;
    }

    .tabla{
        width: 99%;
        flex-direction: column;
        margin-bottom: 20px;
        height: auto;
    }

    .planes{
        margin-top: 20px;
        margin-bottom:10px;
        height: auto;
    }
    
    .form-class{
        flex-direction: column;
    }

    .container{
        width: 100%;
    }

    .parrafo{
        width: 100%;
    }

    .info{
        flex-direction: column;
    }

    .logo-footer{
        width: 100%;
    }

    .info-local{
        width: 100%;
    }

}

/*SALONES*/

.salones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 20px;
    justify-content: center;
    margin-top: 60px;
    background-color:rgb(210, 124, 230);
    padding: 30px;
    border-radius: 10px;
}

.grid_salones{
    width: 100%;
    height: 100%;
    margin: auto;
    border:1px solid pink;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #343759;
    padding: 5px;
    text-align: center;
    color: white;
    background-color: rgb(210, 124, 230);;
}

.grid_salones>h2{
    font-size: 100%;
}

.grid_salones>h3{
    font-size: 20px;
    margin-bottom: 15px;
}

.grid_salones>p{
    display: block;
    margin-bottom: 15px;
}

.grid_salones:hover{
    transform: scale(1.1);
    transition: 300ms all;
}

.mas_info{
    display:inline-block;
    width:120px;
    padding: 10px;
    background-color: rgb(119, 44, 135);
    text-decoration: none;
    border-radius: 100px;
    color: white;
    align-items: center;
    margin: auto;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    transition:color 300ms;
    cursor: pointer;
}

.mas_info:hover{
    background-color:rgb(147, 66, 165);
    transform: scale(1.1);
    transition: 300ms all;
}

@media (max-width:1110px){
    .salones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid_salones>h2{
        font-size: 15px;
    }
    .grid_salones>p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .mas_info{
        font-size: 10px;
        padding: 5px;
    }
}
@media (max-width:720px){
    .salones{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .grid_salones>h2{
        font-size: 10px;
    }
    .grid_salones>p{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .mas_info{
        font-size: 10px;
        padding: 5px;
    }
    
}






